#============================================================================
#============================================================================
*
#============================================================================
#============================================================================
!*.c
!*.cpp
!*.h
!*.hpp
!.gitignore
#============================================================================
#============================================================================
!core_common
#============================================================================
#============================================================================
